body {text-align: center;}
html { max-width: 1300px; margin: auto;}
table { margin-left: auto; margin-right: auto;}
.formleft {text-align: left !important;}

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  h1 {text-align: center;}

  form {
    width: 50%;
    margin: auto;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #BA0C2F;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #BA0C2F;
  }